* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
} 

.white {
    color: white;
}

button {
    cursor: pointer;
}

.flex {
    display: flex;
}

.border {
    border-radius: 30px;
    border: #ddd;
    padding: 15px;
}

.justify-content-center {
    justify-content: center;
}

.background-size{
    background-size: cover;
}

/* barra opzioni */
header {
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.discord-immagine {
    background-image: url(../img/logo.svg);
    background-size: 50%;
    background-repeat: no-repeat;
}

a {
    justify-content: end;
}

.barra {
    padding-top: 20px;
}

.barra div {
    display: flex;
    align-items: center;
    font-size: 20px;
    height: 45px;
    flex-basis: 7%;
    
}

.barra div.discord {
    flex-basis: 15%;
}

/* titolo */
.contenitore-titolo {
    flex-wrap: nowrap;
    padding: 100px 0;
    
}

.titolo h1 {
    font-size: 60px;
    margin-bottom: 40px;
    
}

.titolo p {
    font-size: 23px;
    margin-bottom: 35px;
}

.titolo {
    text-align: center;
    width: 700px;
    height: 350px;
}

/* bottoni download */
.bottoni-download {
    font-size: 22px;
    margin: 0 10px;
}

.bottoni-download-2 {
    background-color: rgb(40, 40, 40);
}

/* contenitori*/
section div {
    width: 600px;
    
}

/* contenitore immagine */
.contenitore-immagini {
    align-items: center;
    height: 830px;
}

.chat {
    font-size: 45px;
    padding: 30px 0 0 160px;
}

.chat-testo {
    font-size: 25px;
    padding: 10px 0 0 160px;
}

.immagine-chat {
    background-image: url(../img/item1.svg);

    height: 400px;
}

/* seconda immagine */
.contenitore-immagini:nth-child(odd) {background-color: white;}
.contenitore-immagini:nth-child(even) {background-color: rgb(228, 227, 227);}

.contenitore-basis {
    width: 1201px;
}

.basis {
    flex-basis: 70%;
    background-image: url(../img/item2.svg);
    height: 480px;
}


section div.colonna {
    width: 1200px;
    text-align: center;
   
}

.contenitore-colonna {
    flex-direction: column;
    width: 1201px;
}


/* terza immagine */
.fandom {
    background-image: url(../img/item3.svg);
    height: 450px;
}

/* quarta immagine */
.grey {
    background-color: rgb(228, 227, 227);
}

.contenitore-immagini-4 {
    align-items: center;
    padding: 80px 0;
}

.chat-chilling {
    font-size: 50px;
}

.chilling img {
    height: 700px;
}

.testo-chlling {
    font-size: 30px;
}

.button-chilling {
    background-color: #a89ce4;
    margin-top: 25px;
    font-size: 25px;
}

/* parte finale */
footer {
    background-color: rgb(29, 29, 29);
    height: 100vh;
}

.logo-italia{
    background-image: url(../img/ita.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 30%;
    height: 40px;
    margin-top: 10px;
}

.testo-italia {
    font-size: 20px;
    margin-left: 35px;
}

.contenitore-informazioni {
    height: 100px;
    padding-top: 30px;
    width: 1300px;
}

.contenitore-informazioni div{
    flex-basis: 20%;
}

.contenitore-informazioni div.informazioni {
    flex-basis: 40%;
}

footer > div{
    height: 500px;
    justify-content: center;
}

.informazioni {
font-size: 25px;
}

.contenitore-finale {
    display: flex;
    margin: auto;
    width: 1300px;
    justify-content: space-between;
}

hr {
    width: 1300px;
    margin: auto;
}

/* bottone */
.finale {
    background-image: url(../img/logo.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 50px;
    width: 150px;
    margin-top: 20px;
}

.violet {
    color: #6b5daf;
}

.font-size-18 {
    font-size: 18px;
}

li {
    color: white;
    padding: 8px 0 8px 0;
    list-style: none;
}
